/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

.mainHeading {
	background-image: url("../images/trainHeader.jpg");
	background-size: 100% ;
    background-repeat: no-repeat;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.panel-default > .panel-heading {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #37608C;
  border-color: #37608C;
}

table,
form {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

label{
	margin-top: 15px;
}

td {
	padding-top: 5px;
}

th {
	font-weight: bold;
	text-decoration: underline;
	padding-bottom: 5px;
}